.table1 { 
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse; 
	border-spacing: 0; 
	height: 100px;
	margin-left: 570px;
	margin-top: 50px;
  }
  .t{
	  height: 50px;
	  position: fixed;
	  margin-top: -550px;
  }
		  
  .table1 td, th {  border: 0 none; height: 30px; }
			  
  .table1 th {
	/* Gradient Background */
	  background: linear-gradient(#333 0%,#444 100%);
	  color: #FFF; font-weight: bold;
	  height: 40px;
  }
		  
  .table1 td { background: #FAFAFA; text-align: center; }
  
  /* Zebra Stripe Rows */
		  
  .table1 tr:nth-child(even) td { background: #EEE; } 
  .table1 tr:nth-child(odd) td { background: #FDFDFD; }
  
  /* First-child blank cells! */
  .table1 tr td:first-child, tr th:first-child { 
	  background: none; 
	  font-style: italic;
	  font-weight: bold;
	  font-size: 14px;
	  text-align: right;
	  padding-right: 10px;
	  width: 80px; 
  }
  
  /* Add border-radius to specific cells! */
  .table1 tr:first-child th:nth-child(2) { 
	border-radius: 5px 0 0 0; 
  } 
  
  .table1 tr:first-child th:last-child { 
	border-radius: 0 5px 0 0; 
  }
  

img{
	width: 120px;
	height: 150px;
}
.image{
	margin-top: -270px;
	margin-left: 870px;

}
.pro{
	margin-top: -10px;
}
/*p{
	margin-top: 80px;
}*/
.main{

	height: 250px;
}
.s{

}
.container{
	margin-top: -210px;
	margin-left: 20px;
}


.progress{
	margin-left: 150px;
	width: 45%;
	height: 3%;
	margin-top: -25px;

}




.submit1{

background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 30px;

width: 80px;

font: bold 15px arial, sans-serif;

text-shadow:none;

margin-left: 150px;

}

.i{
	margin-left: 2px;
	width: 30px;
	height: 30px;
}
.table1{
	
	width: 50%;
	margin-left: -40px;
	margin-top: 130px;
}
